<div class="container-fluid">
    <div class="row  d-flex justify-content-center">
        <div class="col-8">
            <div id="top">
                <div class="content">
                    <h1 class="content-title font-size-24">Create User Profile</h1>
                </div>
                <div class="card  p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="content">
                            <p class="text-justify font-italic">
                                Scholar
                            </p>
                        </div>
                        <div class="content ">
                            <a href="#scholarProfileModal" class="btn btn-primary" role="button">Scholar?</a>
                        </div>
                    </div>
                </div>
                <div class="card  p-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="content">
                            <p class="text-justify font-italic">
                                Faculty
                            </p>
                        </div>
                        <div class="content ">
                            <a href="#facultyProfileModal" class="btn btn-primary" role="button">Faculty?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>