<div class="sidebar">
    <div class="sidebar-menu">
        <!-- Sidebar brand -->
        {{!-- <a href="#" class="sidebar-brand">
            <img src="..." alt="...">
            Brand
        </a> --}}
        {{>sideBarLogo}}
        <!-- Sidebar links and titles -->
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
        {{!-- <a href="#" class="sidebar-link">File explorer</a>
        <a href="#" class="sidebar-link">Spreadsheet</a> --}}
        <a href="/dean/viewThesisList/" class="sidebar-link">View Thesis List</a>
        <a href="/dean/viewApproveThesisList/" class="sidebar-link">Approve Thesis</a>
        <br />
        <h5 class="sidebar-title">Reviewer</h5>
        <div class="sidebar-divider"></div>
        <a href="/reviewer/" class="sidebar-link">Reviewer Home Page</a>
    </div>
</div>