<div class="sidebar">
    <div class="sidebar-menu">
        {{>sideBarLogo}}
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
        {{!-- <a href="#" class="sidebar-link">File explorer</a>
        <a href="#" class="sidebar-link">Spreadsheet</a> --}}
        <a href="/director/viewThesisList/" class="sidebar-link">View Thesis List</a>
        <a href="/director/viewApproveThesisList/" class="sidebar-link">Approve Thesis</a>
        <br />
        <h5 class="sidebar-title">Reviewer</h5>
        <div class="sidebar-divider"></div>
        <a href="/reviewer/" class="sidebar-link">Reviewer Home Page</a>
        <br />
        <h5 class="sidebar-title">Admin Actions</h5>
        <div class="sidebar-divider"></div>
        <a href="/director/viewUnapprovedUsers/" class="sidebar-link">Unapproved Users</a>
        <a href="/director/viewApprovedUsers/" class="sidebar-link">Approved Users</a>
    </div>
</div>