<div class="sidebar">
    <div class="sidebar-menu">
        <!-- Sidebar links and titles -->
        {{>sideBarLogo}}
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
        <a href="/mentor/thesis/upload" class="sidebar-link">Publish Thesis</a>
        <a href="/mentor/viewThesisList/" class="sidebar-link">View Thesis List</a>
        <br />
        <h5 class="sidebar-title">Reviewer</h5>
        <div class="sidebar-divider"></div>
        <a href="/reviewer/" class="sidebar-link">Reviewer Home Page</a>
    </div>
</div>