<div class="sidebar">
    <div class="sidebar-menu">
        <!-- Sidebar brand -->
        {{!-- <a href="#" class="sidebar-brand">
            <img src="..." alt="...">
            Brand
        </a> --}}
        <!-- Sidebar links and titles -->
        {{>sideBarLogo}}
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
        <a href="/reviewer/invitations/" class="sidebar-link">View Invitations</a>
        <a href="/reviewer/invitations/history" class="sidebar-link">Past Invitations</a>
        <a href="/reviewer/invitations/accepted" class="sidebar-link">Under Review</a>
        <a href="/reviewer/invitations/completed" class="sidebar-link">Completed</a>
    </div>
</div>