<div class="sidebar">
    <div class="sidebar-menu">
        <!-- Sidebar brand -->
        {{!-- <a href="#" class="sidebar-brand">
            <img src="..." alt="...">
            Brand
        </a> --}}
        <!-- Sidebar links and titles -->
        {{>sideBarLogo}}
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
        <a href="/scholar/viewThesisList/" class="sidebar-link">View Thesis List</a>
    </div>
</div>