<div class="sidebar">
    <div class="sidebar-menu">
        {{>sideBarLogo}}
        <h5 class="sidebar-title">Getting started</h5>
        <div class="sidebar-divider"></div>
        <a href="/users/" class="sidebar-link">Home</a>
        <br />
        <h5 class="sidebar-title">Actions</h5>
        <div class="sidebar-divider"></div>
    </div>
</div>