<div class="container-fluid">
    <div class="row  d-flex justify-content-left">
        <div class="col-8">
            <div id=" top">
                <div class="content">
                    <h1> Hello {{name}}</h1>
                    <p>~{{role}}</p>
                </div>
            </div>
        </div>
    </div>
</div>