<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  {{>css}}
</head>

<body>
  <!-- Sign in -->
  <div class="modal" id="signIn" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="/" class="btn close" role="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h5 class="modal-title">Sign in to your account</h5>
        <form action="/accounts/signIn" method="post">
          <div class="form-group">
            <label for="username" class="required">User Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Username" required="required">
          </div>
          <div class="form-group">
            <label for="password" class="required">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
              required="required">
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="Sign in">
        </form>
        <div class="text-right mt-10"> <!-- text-right = text-align: right, margin-top: 1rem (10px) -->
          <a href="#signIn" class="hyperlink">Forgot password?</a>
          <!-- hyperlink = used on regular links to remove anti-aliasing in dark mode -->
        </div>
      </div>
    </div>
  </div>


  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down"
    data-sidebar-hidden="hidden">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>

    {{>navbar}}

    <!-- Content wrapper -->
    <div class="content-wrapper">
      {{{body}}}
    </div>

    {{> footer}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.js"></script>
</body>

</html>