<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div class="container-fluid">
    <div id="html">
        <div id="stars"></div>
        <div id="stars2">.</div>
        <div id="stars3"></div>
        <div class="title" id="title">
            <span style="font-family: uniformRegular; font-size:10rem">
                Thesis Sapphire
            </span>
            <br />

            <div class="aurora">
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>
                <div class="aurora__item"></div>
            </div>
            <span>
                PARALLAX PIXEL STARS
            </span>
        </div>
    </div>
</div>