<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>css}}
</head>

<body>
  {{>scholarProfileModal}}
  {{>facultyProfileModal}}
  {{>reviewerProfileModal}}



  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down"
    data-sidebar-hidden="hidden">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>

    <!-- Navbar -->
    {{>navbarSignedIn}}

    <!-- Sidebar overlay -->
    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    <!-- Sidebar -->

    {{>userSideBar}}

    <!-- Content wrapper -->
    <div class="content-wrapper">
      {{{body}}}
    </div>

    <!-- Navbar fixed bottom -->
    {{>footer}}
  </div>
  {{>scripts}}
</body>

</html>