<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<div class="container-fluid">
    <div id="star-bg">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div class="flex-column justify-content-center h-full">
            <div id="star-content">
                <div id="title">
                    <span style="font-family: uniformRegular; font-size:10rem">
                        Thesis Sapphire
                    </span>
                    <br />
                    {{!-- <div class="aurora">
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                    </div> --}}
                    {{!-- <div class="sidebar-divider"></div>
                    <h3>
                        EMPOWERING SCHOLARS, ELEVATING RESEARCH
                    </h3>
                    <div class="sidebar-divider"></div>
                    <h4>
                        Your Journey to Academic Excellence Begins Here
                    </h4> --}}
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" id="star-content">
                <div class="card col p-0 bg-transparent border-0">
                    <div class="typing-wrapper">
                        <div class="typing-demo">
                            EMPOWERING SCHOLARS, ELEVATING RESEARCH
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center" id="star-content">
                {{>signInPartial}}
            </div>
        </div>

        {{!-- <div>
            {{>signInPartial}}
        </div> --}}
    </div>
</div>