/* ------------background--------------------- */
.background-section {
  background-image: url("/images/universe1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}

.background-blur {
  background-image: url("/images/books2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
  filter: blur(4px);
}

.register-side-background {
  background-image: url("/images/openGate1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}

/*---------------------slide show-----------------*/
.img-slide-1 {
  background-image: url("/images/astro3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}

.img-slide-2 {
  background-image: url("/images/books1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}

.img-slide-3 {
  background-image: url("/images/universe1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}

.img-slide-4 {
  background-image: url("/images/books2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  max-height: 100%;
}