<div class="container-fluid">
  <div class="row  d-flex justify-content-center">
    <div class="col">
      <div id=" top">
        <div class="card p-0">
          <div class="content">
            <h1 class="content-title font-size-24">Send Verification Code</h1>
            <div class="invalid-feedback">
              {{error}}
            </div>
            <form action="/accounts/sendVerification" method="post">
              <!-- First row -->
              <div class="form-row row-eq-spacing-sm">
                <div class="col">
                  <label for="email" class="required">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                    required="required">
                </div>
              </div>
              <!-- Submit button container -->
              <div class="text-right"> <!-- text-right = text-align: right -->
                <input class="btn btn-primary" type="submit" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>