<div class="container-fluid">
  <div class="row  d-flex justify-content-between">
    <div class="col">
      <div id=" top">
        <div class="card p-0">
          <div class="content">
            <h1> Hello,</h1>
          </div>
          <div class="content">
            <p class="text-monospace text-justify">
              Welcome to Thesis Sapphire! We're delighted to have you here as
              you embark on your thesis journey.
              <br>By signing in, you gain access to a comprehensive platform designed to streamline and elevate your
              research experience.
              Take control of your thesis progress with our intuitive tools, track milestones, collaborate
              seamlessly with your committee, and stay organized with timely reminders.
              <i>Thesis Sapphire</i> is more than just a tracking tool, it's a supportive community of like-minded
              researchers.
              <br>Join us and connect with fellow graduate students, share insights, and exchange
              experiences.
            </p>
            <div class="content d-flex justify-content-center">
              <a href="#signIn" class="btn btn-primary" role="button">Sign in</a>
            </div>
            <p class="text-monospace text-justify">
              Thank you,<br>
              Team Thesis Saphire<br>
            </p>
          </div>
          <div class="content w-200 h-50">
            {{>logo}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>