<div class="container-fluid">
  <div class="row  d-flex justify-content-center">
    <div class="col">
      <div id="top">
        <div class="card  p-0">
          <div class="content">
            <h1 class="content-title font-size-24">Email Verification</h1>
            <div class="invalid-feedback">
              {{error}}
            </div>
            <form action="/accounts/verification" method="post">
              <!-- First row -->
              <div class="form-row row-eq-spacing-sm">
                <div class="col">
                  <label for="emailV" class="required">Email</label>
                  <input type="email" class="form-control" id="emailV" name="emailV" placeholder="Email"
                    value="{{email}}" required="required">
                </div>
              </div>

              <div class="form-row row-eq-spacing-sm">
                <div class="col">
                  <label for="code" class="required">Code</label>
                  <input type="text" class="form-control" id="code" name="code" placeholder="Code" required="required">
                </div>
              </div>

              <div class="text-left mt-10"> <!-- text-right = text-align: right, margin-top: 1rem (10px) -->
                Did not receive code?
                <a href="/accounts/sendVerification" class="hyperlink">Resend Code</a>
                <!-- hyperlink = used on regular links to remove anti-aliasing in dark mode -->
              </div>
              <!-- Submit button container -->
              <div class="text-right"> <!-- text-right = text-align: right -->
                <input class="btn btn-primary" type="submit" value="Verify">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>