<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  {{>css}}
</head>

<body data-set-preferred-mode-onload="true">
  <div class="page-wrapper with-navbar with-sidebar with-navbar-fixed-bottom" data-sidebar-type="overlayed-sm-and-down">
    <!-- Sticky alerts (toasts), empty container -->
    <div class="sticky-alerts"></div>
    <!-- Modals -->
    {{>rejectThesisModal}}

    <!-- Navbar -->
    {{>navbarSignedIn}}

    <!-- Sidebar overlay -->
    {{!-- <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div> --}}
    <!-- Sidebar -->

    {{>hodSideBar}}

    <!-- Content wrapper -->
    <div class="content-wrapper">
      {{{body}}}
    </div>

    <!-- Navbar fixed bottom -->
    {{>footer}}
  </div>
  {{>scripts}}
</body>

</html>